/* --------------------- Reset & Base Styles --------------------- */
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: #ffffff; /* White global background */
  color: #222;
  font-family: 'Poppins' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* --------------------- Global Layout --------------------- */
body {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

/* --------------------- Links & Buttons --------------------- */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

button, input {
  font-family: inherit;
}

/* --------------------- Images --------------------- */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
